# Real or Not real

Predict which disaster tweet is real or not

In [39]:
import pandas as pd
import os
import spacy
from spacy.util import minibatch, compounding
import random

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

## Utility Functions

In [34]:
# Evaluates model and return F1 score.
def evaluate(tokenizer, textcat, texts, cats):
    docs = (tokenizer(text) for text in texts)
    tp = 0.0  # True positives
    fp = 1e-8  # False positives
    fn = 1e-8  # False negatives
    tn = 0.0  # True negatives
    for i, doc in enumerate(textcat.pipe(docs)):
        gold = cats[i]
        for label, score in doc.cats.items():
            if label not in gold:
                continue
            if label == "NEGATIVE":
                continue
            if score >= 0.5 and gold[label] >= 0.5:
                tp += 1.0
            elif score >= 0.5 and gold[label] < 0.5:
                fp += 1.0
            elif score < 0.5 and gold[label] < 0.5:
                tn += 1
            elif score < 0.5 and gold[label] >= 0.5:
                fn += 1
    precision = tp / (tp + fp)
    recall = tp / (tp + fn)
    if (precision + recall) == 0:
        f_score = 0.0
    else:
        f_score = 2 * (precision * recall) / (precision + recall)
    return {"textcat_p": precision, "textcat_r": recall, "textcat_f": f_score}

# Prep dataset and split in a train and test set
def prep_data(df_train,split=0.7):
    # Create tuple of values instead of dataframe
    subset =df_train[['text','target']]
    train_data = [tuple(x) for x in subset.to_numpy()]
    
    # Shuffle Data
    random.shuffle(train_data)
    
    # Seperate text and label
    texts, labels = zip(*train_data)
    cats = [{"POSITIVE": bool(y), "NEGATIVE": not bool(y)} for y in labels]
    
    # 70%-30% Train-test split
    split = int(len(train_data) * split)
    return (texts[:split], cats[:split]), (texts[split:], cats[split:])

## Load Data and model

In [2]:
nlp = spacy.load('en_core_web_lg')

In [4]:
# Read tweets
df_train = pd.read_csv('train.csv')

In [9]:
print('Total number of rows in train set:' + str(df_train.shape[0]))
df_train.head()

Total number of rows in train set:7613

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [10]:
df_train.target.value_counts()

0    4342
1    3271
Name: target, dtype: int64

## Classification with Spacy TextCategorizer

In [38]:
# add the text classifier to the pipeline if it doesn't exist
# nlp.create_pipe works for built-ins that are registered with spaCy
if "textcat" not in nlp.pipe_names:
    textcat = nlp.create_pipe(
        "textcat", config={"exclusive_classes": True, "architecture": "simple_cnn"}
    )
    nlp.add_pipe(textcat, last=True)
# otherwise, get it, so we can add labels to it
else:
    textcat = nlp.get_pipe("textcat")

In [37]:
# add label to text classifier
textcat.add_label("POSITIVE")
textcat.add_label("NEGATIVE")

1

In [41]:
 # load the IMDB dataset
print("Loading Tweets...")
(train_texts, train_cats), (dev_texts, dev_cats) = prep_data(df_train)

Loading Tweets...

In [42]:
train_data = list(zip(train_texts, [{"cats": cats} for cats in train_cats]))

In [44]:
init_tok2vec = None

In [45]:
# get names of other pipes to disable them during training
pipe_exceptions = ["textcat", "trf_wordpiecer", "trf_tok2vec"]
other_pipes = [pipe for pipe in nlp.pipe_names if pipe not in pipe_exceptions]
with nlp.disable_pipes(*other_pipes):  # only train textcat
    optimizer = nlp.begin_training()
    if init_tok2vec is not None:
        with init_tok2vec.open("rb") as file_:
            textcat.model.tok2vec.from_bytes(file_.read())
    print("Training the model...")
    print("{:^5}\t{:^5}\t{:^5}\t{:^5}".format("LOSS", "P", "R", "F"))
    batch_sizes = compounding(4.0, 32.0, 1.001)
    for i in range(100):
        losses = {}
        # batch up the examples using spaCy's minibatch
        random.shuffle(train_data)
        batches = minibatch(train_data, size=batch_sizes)
        for batch in batches:
            texts, annotations = zip(*batch)
            nlp.update(texts, annotations, sgd=optimizer, drop=0.2, losses=losses)
        with textcat.model.use_params(optimizer.averages):
            # evaluate on the dev data split off in load_data()
            scores = evaluate(nlp.tokenizer, textcat, dev_texts, dev_cats)
        print(
            "{0:.3f}\t{1:.3f}\t{2:.3f}\t{3:.3f}".format(  # print a simple table
                losses["textcat"],
                scores["textcat_p"],
                scores["textcat_r"],
                scores["textcat_f"],
            )
        )

Training the model...
LOSS 	  P  	  R  	  F
10.853	0.803	0.732	0.766
0.845	0.800	0.749	0.774
0.188	0.781	0.745	0.762
0.058	0.773	0.755	0.764
0.026	0.769	0.761	0.765
0.012	0.753	0.755	0.754
0.008	0.750	0.752	0.751
0.008	0.742	0.748	0.745
0.006	0.737	0.744	0.740
0.006	0.742	0.733	0.738
0.004	0.735	0.741	0.738
0.004	0.738	0.737	0.738
0.004	0.743	0.738	0.741
0.003	0.735	0.738	0.737
0.004	0.729	0.733	0.731
0.003	0.730	0.732	0.731
0.003	0.732	0.732	0.732
0.003	0.729	0.726	0.727
0.002	0.726	0.722	0.724
0.003	0.725	0.713	0.719
0.002	0.730	0.717	0.723
0.002	0.731	0.712	0.721
0.003	0.735	0.720	0.727
0.004	0.740	0.723	0.731
0.003	0.734	0.724	0.729
0.002	0.736	0.724	0.730
0.002	0.732	0.722	0.727
0.002	0.730	0.719	0.724
0.002	0.733	0.717	0.725
0.003	0.734	0.715	0.725
0.003	0.738	0.717	0.727
0.002	0.741	0.720	0.730
0.002	0.738	0.719	0.728
0.002	0.736	0.723	0.729
0.002	0.732	0.725	0.728
0.002	0.732	0.715	0.724
0.002	0.735	0.714	0.725
0.002	0.736	0.713	0.725
0.002	0.732	0.713	0.723
0.002	0.733	0.708	0.720
0.002	0.737	0.710	0.723
0.002	0.735	0.710	0.723
0.002	0.731	0.709	0.720
0.002	0.728	0.710	0.719
0.002	0.725	0.715	0.720
0.002	0.724	0.715	0.720
0.002	0.719	0.719	0.719
0.002	0.726	0.717	0.721
0.002	0.730	0.722	0.726
0.002	0.733	0.714	0.723
0.002	0.736	0.717	0.726
0.002	0.732	0.715	0.724
0.002	0.735	0.718	0.726
0.002	0.737	0.719	0.728
0.001	0.738	0.718	0.728
0.001	0.740	0.719	0.729
0.001	0.740	0.720	0.730
0.001	0.739	0.719	0.728
0.001	0.738	0.712	0.725
0.001	0.739	0.714	0.727
0.001	0.737	0.714	0.725
0.002	0.735	0.719	0.727
0.002	0.738	0.719	0.728
0.002	0.742	0.723	0.732
0.001	0.739	0.724	0.731
0.001	0.734	0.726	0.730
0.001	0.731	0.725	0.728
0.002	0.728	0.724	0.726
0.002	0.727	0.724	0.725
0.002	0.726	0.724	0.725
0.002	0.722	0.725	0.723
0.001	0.723	0.725	0.724
0.001	0.723	0.723	0.723
0.001	0.727	0.721	0.724
0.001	0.726	0.723	0.724
0.001	0.726	0.720	0.723
0.001	0.727	0.721	0.724
0.001	0.729	0.723	0.726
0.001	0.731	0.725	0.728
0.001	0.732	0.724	0.728
0.001	0.737	0.721	0.729
0.001	0.738	0.721	0.729
0.001	0.738	0.725	0.731
0.001	0.739	0.721	0.730
0.002	0.740	0.723	0.731
0.002	0.737	0.720	0.728
0.001	0.735	0.718	0.726
0.001	0.732	0.717	0.724
0.001	0.731	0.715	0.723
0.001	0.726	0.712	0.719
0.002	0.721	0.709	0.715
0.002	0.719	0.708	0.713
0.001	0.723	0.708	0.716
0.001	0.724	0.709	0.717
0.001	0.725	0.709	0.717
0.001	0.726	0.710	0.718
0.001	0.728	0.710	0.719
0.001	0.728	0.710	0.719
0.002	0.726	0.710	0.718
0.001	0.727	0.709	0.718

In [46]:
with nlp.use_params(optimizer.averages):
    nlp.to_disk('first_model')

## Test the model

In [47]:
df_test = pd.read_csv('test.csv')

In [48]:
df_test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [54]:
# Tokenize text and use spacy model to make prediction
def calculate_target(text):
    doc = nlp(text)
    
    # Define predicted value
    pred = 0
    if doc.cats['POSITIVE']>0.5:
        pred =1
    
    return pred

In [56]:
df_test['target'] = df_test['text'].apply(lambda x: calculate_target(x))

In [64]:
df_test.head(100)

,id,keyword,location,text,target
0,0,NaN,NaN,Just happened a terrible car crash,1
1,2,NaN,NaN,"Heard about #earthquake is different cities, s...",1
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are...",1
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires,1
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan,1
5,12,NaN,NaN,We're shaking...It's an earthquake,0
6,21,NaN,NaN,They'd probably still show more life than Arse...,0
7,22,NaN,NaN,Hey! How are you?,0
8,27,NaN,NaN,What a nice hat?,0
9,29,NaN,NaN,Fuck off!,0
10,30,NaN,NaN,No I don't like cold!,0
11,35,NaN,NaN,NOOOOOOOOO! Don't do that!,0
12,42,NaN,NaN,No don't tell me that!,0
13,43,NaN,NaN,What if?!,0
14,45,NaN,NaN,Awesome!,0
15,46,ablaze,London,Birmingham Wholesale Market is ablaze BBC News...,1
16,47,ablaze,Niall's place | SAF 12 SQUAD |,@sunkxssedharry will you wear shorts for race ...,0
17,51,ablaze,NIGERIA,#PreviouslyOnDoyinTv: Toke MakinwaÛªs marriag...,1
18,58,ablaze,Live On Webcam,Check these out: http://t.co/rOI2NSmEJJ http:/...,0
19,60,ablaze,"Los Angeles, Califnordia",PSA: IÛªm splitting my personalities.\n\n?? t...,0
20,69,ablaze,threeonefive.,beware world ablaze sierra leone &amp; guap.,0
21,70,ablaze,Washington State,Burning Man Ablaze! by Turban Diva http://t.co...,0
22,72,ablaze,"Whoop Ass, Georgia",Not a diss song. People will take 1 thing and ...,0
23,75,ablaze,India,Rape victim dies as she sets herself ablaze: A...,1
24,84,ablaze,NaN,SETTING MYSELF ABLAZE http://t.co/6vMe7P5XhC,0
25,87,ablaze,"scarborough, ontario",@CTVToronto the bins in front of the field by ...,1
26,88,ablaze,NaN,#nowplaying Alfons - Ablaze 2015 on Puls Radio...,0
27,90,ablaze,"121 N La Salle St, Suite 500",'Burning Rahm': Let's hope City Hall builds a ...,0
28,94,ablaze,Wandering,@PhilippaEilhart @DhuBlath hurt but her eyes a...,0
29,99,accident,"Homewood, PA",Accident cleared in #PaTurnpike on PATP EB bet...,1
30,101,accident,NaN,Just got to love burning your self on a damn c...,0
31,103,accident,NaN,I hate badging shit in accident,0
32,106,accident,USA,#3: Car Recorder ZeroEdgeå¨ Dual-lens Car Came...,1
33,108,accident,Massachusetts,Coincidence Or #Curse? Still #Unresolved Secre...,0
34,111,accident,Bexhill,@Traffic_SouthE @roadpol_east Accident on A27 ...,1
35,115,accident,Anime World,@sakuma_en If you pretend to feel a certain wa...,0
36,116,accident,NaN,For Legal and Medical Referral Service @1800_I...,1
37,122,accident,"Cowtown, Caliii !!",There's a construction guy working on the Disn...,0
38,123,accident,NaN,@RobynJilllian @WlSDOMTEETHS I feel like I'm g...,1
39,124,accident,"All Motorways, UK",On the #M42 northbound between junctions J3 an...,1
40,125,accident,"Frankfurt, Germany",@DaveOshry @Soembie So if I say that I met her...,0
41,127,accident,"Gresham, OR",ACCIDENT - HIT AND RUN - COLD at 500 BLOCK OF ...,1
42,140,accident,NaN,@Calum5SOS this happened on accident but I lik...,1
43,142,accident,Las Vegas,Please donate and spread the word! A training ...,1
44,147,aftershock,"Midland, Mi",Please like and share our new page for our Ind...,0
45,148,aftershock,"SÌ£o Vicente, SÌ£o Paulo",@bxckylynch foi no ROH Aftershock: Las Vegas p...,0
46,150,aftershock,"Vault 101, Fallout",Schoolboy ÛÒ Aftershock (Original Mix)\nExcis...,0
47,152,aftershock,Switzerland,320 [IR] ICEMOON [AFTERSHOCK] | http://t.co/TH...,0
48,154,aftershock,California,'When the aftershock happened (Nepal) we were ...,0
49,155,aftershock,Europe,320 [IR] ICEMOON [AFTERSHOCK] | http://t.co/gR...,0
50,166,aftershock,304,Stop saying 'I Wish' and start saying 'I Will'...,0
51,167,aftershock,"Davis, CA",I want to go to Aftershock in October because ...,0
52,169,aftershock,"Detroit, MI",'We are still living in the aftershock of Hiro...,0
53,177,aftershock,Switzerland,320 [IR] ICEMOON [AFTERSHOCK] | http://t.co/TH...,0
54,179,aftershock,NaN,Aftershock https://t.co/Ecy4U623nO,0
55,181,aftershock,304,'There is no victory at bargain basement price...,0
56,186,aftershock,United Kingdom,Bo2 had by far the best competitive maps imo h...,0
57,188,aftershock,"London, England",Brass and Copper in Cataclysm &amp; AfterShock...,0
58,189,aftershock,In your hearts and minds,@JadeForMKX You should be happy I don't use Af...,0
59,192,aftershock,Runcorn,Aftershock https://t.co/38Nhq9moEf,0
60,200,airplane%20accident,"Lake Charles, LA",When carelessness leads to an aviation acciden...,1
61,202,airplane%20accident,"California, USA",@rewind_music found out about you guys today(r...,1
62,206,airplane%20accident,NaN,A girl who died in an airplane accident fiftee...,1
63,207,airplane%20accident,NaN,@Mintechan Hihow are you? There is Keio line o...,1
64,214,airplane%20accident,"Eagle Pass, Texas",Mexican airplane accident in Ocampo Coahuila M...,0
65,217,airplane%20accident,NaN,Horrible Accident Man Died In Wings of Airpla...,1
66,223,airplane%20accident,inland empire ca,@god if an accident were to happen on this air...,0
67,224,airplane%20accident,Muscat,Horrible Accident Man Died In Wings of Airplan...,1
68,227,airplane%20accident,NaN,#UPDATE: Picture from the Penn Twp. airplane a...,1
69,228,airplane%20accident,New York,See how a judge ruled in this 2009 accident at...,1
70,230,airplane%20accident,#BlackLivesMatter,@thugIauren I had myself on airplane mode by a...,0
71,233,airplane%20accident,USA - Global Online Sales,36 years ago today baseball lost one of its gr...,0
72,234,airplane%20accident,NaN,Experts in France begin examining airplane deb...,1
73,236,airplane%20accident,NaN,#BreakingNews Experts in France begin examinin...,1
74,239,airplane%20accident,France,Experts in France begin examining airplane deb...,1
75,250,ambulance,"Istanbul, TÌ_rkiye",Twelve feared killed in Pakistani air ambulanc...,1
76,255,ambulance,High in Prague with Aya,http://t.co/Q5XTkaKM08 I'M DYING SEND AN AMBUL...,0
77,257,ambulance,Happily Married with 2 kids,AMBULANCE SPRINTER AUTOMATIC FRONTLINE VEHICLE...,0
78,259,ambulance,born on september 1st,@disneyxrowbrina the ambulance isn't even park...,1
79,275,ambulance,"Atlanta, GA",Shot 12 times. Found dead in cuffs after being...,1
80,278,ambulance,USA,@margaretcho Call me a fag and I'm going to ca...,0
81,282,ambulance,Worldwide,New Nanotech Device Will Be Able To Target And...,0
82,284,ambulance,everywhere,@vballplaya2296 want me to send you some medi...,0
83,286,ambulance,World,2 held with heroin in ambulance http://t.co/d9...,0
84,288,ambulance,NaN,http://t.co/B2FaSrt1tN Twelve feared killed in...,1
85,292,ambulance,"West Chester, PA",Why should a helicopter ambulance ride to tran...,0
86,295,ambulance,"Chorley, Lancashire, UK",so privileged and proud to wear this uniform.?...,0
87,300,annihilated,NaN,The bartender at work described a drunk man as...,0
88,304,annihilated,San Diego,Cop pulls drunk driver to safety SECONDS befor...,1
89,305,annihilated,New Orleans,Cop pulls drunk driver to safety SECONDS befor...,1
90,306,annihilated,"eileenborut,webster, tx",@RosieGray Now in all sincerety do you think t...,0
91,308,annihilated,NaN,@johnboywest The only 'stage' the drama queen ...,0
92,311,annihilated,NaN,@_drodrolagi #handplacementgoals \nBro we anni...,0
93,317,annihilated,NaN,How do I step outside for 5 seconds and get an...,0
94,319,annihilated,NaN,@jacksfilms #yiayplan well first we strike dre...,0
95,323,annihilated,NaN,'If your nature appropriates it love will burn...,0
96,324,annihilated,NaN,@NinaHoag - 'if you shred my Psych work our fr...,0
97,325,annihilated,upstate NY,@thehill this is 1 example of y the Conservati...,0
98,326,annihilated,NaN,Aug 3 1915ÛÓKAISERJAEGERS WIPED OUT.; Francis...,0
99,333,annihilated,NaN,They should all die! All of them! Everything a...,0

In [75]:
# Write output
df_submission = df_test[['id','target']]